skimsy.app {
    route /api/* {
        uri strip_prefix /api
        reverse_proxy backend:8000
    }

    route /news/* {
        reverse_proxy backend:8000
    }

    route /post/* {
        reverse_proxy backend:8000
    }

    route {
        root * /var/www/html
        file_server
        try_files {path} /index.html
    }
}
